*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  background: #122B40;
}

li{
  list-style: none;
  margin: 1rem 0.5rem;
}

section {
  background: #2C699A;
  padding: 1rem;
  overflow: hidden;
}

h2 {
  margin: 0 0 0.5rem 0;
  padding: 0 0 0.25rem 0;
  color: #e8ed6a;
  font-size: 34px;
  border-bottom: 4px solid #e8ed6a;
}

#search{
  padding: 0.5rem;
  background-color: #122B40;
  color:#e8ed6a;
  font-size: 18px;
  font-weight: bold;
  border:none;
  border-radius: 5px;
  margin-left: 15px;
  cursor:pointer;
}

#search:hover{
  color:#fff;
}

#query{
  border:none;
  border-bottom: 2px solid #e8ed6a;
  height:1.8rem;
  background-color: #2C699A;
  color: #e8ed6a;
}

#query:focus, #search:focus{
  outline:none;
}

.fa-search{
  color:#e8ed6a;
  font-size: 20px;
  padding: 0 10px;
}

.module-movie:hover .movie-info{
  display: block;
  background-color: rgba(0,0,0,0.6);
  max-height: 550px;
  border-radius: 15px;
}
.module-movie {
  margin-top:20px;
  float: left;
  width: 30%;
  margin-right: 2%;
  margin-left:2%;
  height: 550px;
  border-radius: 15px;
  box-shadow: -1px 1px 5px 0px #000000;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.module-movie:nth-of-type(3n) {
  margin-right: 0;
}
.module-movie::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent 20%, black);
  z-index: 1;
}
.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  color: white;
  z-index: 2;
  display:none;
}
.movie-title {
  margin: 0 0 0.3rem 0;
}
.movie-title::before {
  content: "Title";
  display: block;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #2a8ba3;
}
.original-title::before {
  content: "Original Title";
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  color: #2a8ba3;
}
.original-title {
  margin: 0;
}

.fas.fa-star, .far.fa-star{
  padding: 10px 0;
}

.fas.fa-star{
  color: #e8ed6a;
}

.flag{
  width:30px;
}
