*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container{
  width:100%;
  height:100vh;
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

input{
  width:200px;
  height:20px;
  padding:5%;
}
#search{
  padding:10px;
  color:#fff;
  font-size: 18px;
  background-color: #000;
}

li{
  list-style: none;
  font-size: 24px;
  width:60%;
  margin:auto;
  padding:10px;
  border:1px solid black;
  border-radius: 5px;
}

.active{
  background-color: yellow;
}
